{% extends "index.html" %}

{% block container_crud %}
    <div class="p">
        Мой сайт создан с использованием передовых технологий и инструментов веб-разработки. 
        Я использовал фреймворк FastAPI, который обеспечивает высокую производительность и масштабируемость нашего ресурса. 
        Для создания интерфейса я применил шаблоны HTML, которые были дополнены стилями, 
        что придает моему сайту уникальный и современный вид. Благодаря этому сочетанию технологий, 
        мой сайт работает быстро и эффективно, предоставляя нашим пользователям удобный и приятный опыт использования.
    </div>
      
{% endblock %}