{% extends "fourth_task/main.html" %}
{% load static %}

{% block pagename %}
    <h1>Главная страница</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
        
        <div class="container">
            <div class="stolbik">
                <img src="{% static "lada_vesta.png" %}" alt="a">
            </div>
            <div class="stolbik">
                </div>
                <div class="text-one">
                    <div class="shimmer">
                    Энергичный дизайн LADA Vesta новое поколение стал еще привлекательней. 
                    Развитый рельеф бамперов создает современный и динамичный образ автомобиля, 
                    а новая светодиодная оптика делает его по-настоящему заметным.
                    <br>
                    <br>
                    Панель приборов с мягким покрытием Soft Touch. Молдинги с оригинальной текстурой. 
                    Ощущение бархатистости на поверхности дверных поручней. 
                    Атмосферная подсветка функциональных зон. Внимание к деталям и прикосновениям. Здесь все на высшем уровне.
                    <br>
                    <br>
                    LADA Vesta новое поколение вызывает удивительное чувство единения с автомобилем. 
                    Водительское место привычно и комфортно настроено. 
                    Пассажиры могут вытянуть ноги и поставить свои гаджеты на подзарядку. 
                    В LADA Vesta новое поколение удобно и в ежедневных поездках, и в дальних путешествиях: 
                    в неё хочется возвращаться снова и снова.
                    <br>
                    <br>
                    Высокий уровень безопасности уже в базовой комплектации — часть философии LADA Vesta новое поколение. 
                    Мощный каркас кузова с применением сталей повышенной прочности, подушки безопасности, 
                    система ISOFIX для детских кресел на заднем ряду: и водитель, и пассажиры под надежной защитой.
                </div>
            </div>
            </div>
        </div>

{% endblock %}