{% extends "fourth_task/main.html" %}
{% load static %}

{% block pagename %}
    <h1>Предложения</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="stolbik">
        </div>
        <div class="stolbik">
            <img src="{% static "spotline_sw.png" %}" alt="a">
            </div>
            <div class="text-one">
                <div class="shimmer">
                    65 оригинальных деталей от LADA Sport — это настоящий заводской тюнинг. 
                    Некоторые из этих элементов вы увидите сразу: расширенные пластиковые передние крылья, 
                    две хромированные насадки выхлопа, 
                    рельефные бамперы с диффузорами… И классический красный молдинг как знак принадлежности к миру гонок.
                <br>
                <br>
                Контрастная красно-черная отделка и передние сиденья анатомической формы. 
                Качественные материалы салона, перфорированная кожа с яркой прострочкой. 
                На это приятно смотреть и приятно прикасаться. 
                А когда взлетает стрелка тахометра, становится понятно: каждая деталь помогает обуздать скорость. <br>
                <br>
                LADA Vesta Sportline — это уникальное сочетание спортивных настроек и удобства повседневных поездок. 
                Более жесткие амортизаторы и пружины повышают устойчивость в поворотах и на высоких скоростях, 
                при этом конструкция подвески сохраняет энергоемкость и комфорт. 
                Особое внимание — звуку автомобиля: прямоточный выхлоп получил более спокойный тембр для «гражданских» 
                режимов движения.
            </div>
        </div>
        </div>
    </div>
    
    
    
{% endblock %}